.l_select_group {
  .well {
    height: 101px
  }
  select {
    width: 180px;
  }
}
.l_sort {
  form {
    margin-bottom: 0;
    select {
      width: 135px
    }
  }
  .teacher_driver {
    width: 155px
  }
  .ok {
    margin-top: 24px
  }
}

.l_fio {
  .wrap {
    padding-left: 2px;
    overflow-y: auto;
    height: 1248px;
    .loader {
      float: right;
      margin-right: 5px;
    }
  }
}

.l_info {
  .header-wrap {
    margin-top: 0
  }
  .btns {
    margin-top: -5px;
  }

  .well {
    height: 980px;
  }

}

.btn_actions {
  a.btn-success {
    margin-right: 5px;
  }
}

.data {
  width: 175px;
  margin-right: 18px;
  &:nth-child(3) {
    margin-right: 0;
    margin-left: 33px;
  }
}

legend {
  font-size: 16px;
}

table {
  &.statement, &.contract {
    tbody {
      tr {
        td {
          &:nth-child(1) {
            padding-top: 13px;
          }
          &:nth-child(2) {
            input, select, .input-append {
              margin-bottom: 0;
            }
            .input-append {
              width: 100%;
            }
          }
        }
      }
    }
  }
}