.admins {
  overflow: hidden;
  .newAdmin, .listAdmins {
    min-height: 300px;
    height: 300px;
  }
}

/*
  оформление таблицы для админов, с прокруткой
*/

table {
  tbody {
    height: 191px;
    overflow: auto;
  }
  td {
    width: 190px;
  }

  thead > tr, tbody {
    display: inline-block;
  }

  thead {
    tr {
      th:nth-child(1) {
        width: 120px;
        text-align: center;
      }
      th:nth-child(2) {
        width: 110px;
        text-align: center;
      }
      th:nth-child(3) {
        width: 190px;
        text-align: center;
      }
      th:nth-child(4) {
        width: 80px;
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      td:nth-child(1) {
        width: 120px;
        text-align: center;
      }
      td:nth-child(2) {
        width: 110px;
        text-align: center;
      }
      td:nth-child(3) {
        width: 190px;
        text-align: center;
      }
      td:nth-child(4) {
        width: 80px;
        text-align: center;
      }
      td {
        a {
          width: 13px;
          height: 16px;
          i {
            &.icon-remove {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

}