.d_fio {
  .wrap {
    padding-left: 2px;
    overflow-x: auto;
    height: 1049px;
  }
}

.d_status {


  .header-wrap {
    margin-top: 0
  }
  .btns {
    margin-top: -5px;
  }

    height: 100px

}

.d_info {
  height: 924px;
  .tab-content {
    margin-top: 40px;
  }
}
